@use '../../../styles/variables.scss' as *;

.main-page{
    min-height: 100vh;
    display: flex;
    gap: 0;
    align-items: stretch;
}

.right-panel {
  flex: 1;
  background: #9EEF7C;
  background-image: url('../../../../public/assets/images/Avatar3.svg');
  background-size: contain;         // faz a imagem cobrir toda a div
  background-repeat: no-repeat;   // impede repetição
  background-position: center;    // centraliza a imagem
}

.left-panel {
  flex: 2.5;
  padding: 2rem;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 40px;
}

.header-text{
  color: #000;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 123.077% */
}

.cancel-btn{
  padding: 10px 20px;
  background-color: #FEFBF0;
  border: none;
  color: var(--Brand-Black, #111);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: var(--Brand-Off-White, #FEFBF0);

  &:hover{
    cursor: pointer;
    background-color: #fbf8ef;
  }
}

.line-divisor{
    @include line-divisor;
}

.main-content{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}

.sub-title{
  color: var(--Brand-Black, #111);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.student-info{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: auto; 
  max-height: 60vh;
  padding-right: 1rem; // Adiciona espaço entre o conteúdo e a barra lateral

  /* Estilização da barra de rolagem */
  &::-webkit-scrollbar {
    width: 8px; // Largura da barra lateral
  }

  &::-webkit-scrollbar-track {
    background: #DAD8CF; // Cor do fundo da barra
  }

  &::-webkit-scrollbar-thumb {
    background: #111; // Cor da barra de rolagem
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #444; // Cor ao passar o mouse
  }
}

.input-row{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.select-wrapper{
  width: 50%;
}

.inner-box{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--Brand-Black, #111);
  padding: 1rem;
}