@use '../../../styles/variables.scss' as *;

.main-page {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.return-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #f1f1f1;
    border-radius: 10px;
    border:none;

    &:hover{
        background-color: #e1e1e1;
        cursor: pointer;
    }
}

.close-img{
    width: 2rem;
    height: 2rem;
}

.title{
    font-size: 1.5rem;
    font-weight: 600;
}

.line-divisor{
    width: 100%;
    height: 1px;
    opacity: 0.35;
    background-color: #111;
}

.input-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    flex: 1; // Add this
    app-dropdown {
        width: 80%; // Add this to control dropdown width
        max-width: 400px; // Add this to limit maximum width
    }
}

.main-box{
    @include container;
    height: 70vh;
}

.class-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.student-text{
    @include font-md-regular
}

.btn-box{
    @include button-box
}

.loading-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Certifique-se de que o modal fique acima de outros elementos */
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ffffff; /* Cor do círculo */
  border-top: 5px solid #6b63ff; /* Cor da parte giratória */
  border-radius: 50%;
  animation: spin 1s linear infinite; /* Animação de rotação */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}