
.checkbox-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.checkbox-container input[type="checkbox"] {
  appearance: none; // Remove o estilo padrão do checkbox
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s;
  border: 1px solid var(--Brand-Black, #111);

  &:checked::before {
    content: '✔'; // Ícone de check
    color: #000; // Cor do ícone
    font-size: 0.75rem;
    font-weight: bold;
  }
}

.checkbox-container label {
  display: flex;
  align-items: center;
  gap: 0.5rem; // Espaço entre o checkbox e o texto
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  color: var(--Brand-Black, #111);
}