@use "../../../Styles/variables.scss" as *;

.custom-button {
  width: auto;
  height: 3rem; // 48px
  border: 1px solid $neutral-100;
  outline: none;
  border-radius: 8px; // 10px
  padding: 0.75rem 1.5rem; // 12px 24px
  font-weight: 600;
  font-size: 1.125rem; // 18px
  display: flex;
  align-items: center;
  gap: 0.5rem; // 8px
  text-transform: none;
  cursor: pointer;
  color: var(--text-color, #000);
  background-color: var(--bg-color, --bg-color);
  box-shadow: 0rem 0.0625rem 0.125rem 0rem rgba(16, 24, 40, 0.05); // 0px 1px 2px 0px
  transition: background-color 0.3s ease;

  img {
    width: 1.5rem; // 24px
    height: 1.5rem; // 24px
  }

  &:hover {
    background-color: var(--hover-color, $brand-palette-royal-blue-mn);
  }

  &.outlined {
    background-color: transparent;
    color: var(--text-color, $brand-palette-royal-blue-mn);
    border: 2px solid var(--bg-color, $brand-palette-royal-blue-mn);
    transition: 0.3s ease;

    &:hover {
      background-color: var(--hover-color, $brand-palette-royal-blue-mn);
    }
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
  }

  &.justify-content-center {
    justify-content: center;
  }
}
